/* ===== KARTICA ===== */
.book-card {
  background: transparent;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%; /* ⬅️ stabilna visina */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.45);
}

/* ===== SLIKA ===== */
.book-card-image-wrapper {
  width: 100%;
  aspect-ratio: 2 / 2.5; /* ⬅️ stabilan odnos širine i visine */
  overflow: hidden;
  position: relative; /* ⬅️ za favorite dugme */
}

.book-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== FAVORITE BUTTON ===== */

.favorite-btn:focus,
.favorite-btn:focus-visible,
.favorite-btn:active {
  outline: none !important;
  box-shadow: none !important;
}



.favorite-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background:transparent;
  border: none;
  border-radius: 8%;
  z-index: 10; /* ⬅️ da bude iznad slike */

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  color: rgb(169, 1, 1);
  transition: transform 0.2s ease,  0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.5);
  border: none;
}

.favorite-btn.active {
  background: transparent;
  transform: scale(1.2);
  border: none;
}


.favorite-btn:focus {
  background: transparent;
  transform: scale(1.2);
  border: none;
}

/* ===== INFO BLOK ===== */
.book-card-info {
  padding: 10px 12px 12px;
  color: #e5e7eb;

  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: auto; /* ⬅️ gura meta deo na dno */
}

/* ===== NASLOV ===== */
.book-card-title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
   font-family: "Fondamento", cursive;
  
  font-style: normal;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  min-height: 42px; /* ⬅️ stabilna visina */
}

/* ===== AUTOR ===== */
.book-card-author {
  margin: 0;
  color: #c4c4c4;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  min-height: 18px; /* ⬅️ stabilna visina */
}

/* ===== META ===== */
.book-card-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: rgb(60, 81, 111);
}

/* ===== LINK WRAPPER ===== */
.book-card-link {
  text-decoration: none;
  color: inherit;
}
