.category-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;   /* centriranje */
  max-width: 650px;          /* širina koja tera raspored u 2 reda */
  margin: 30px auto 30px auto; /* centriranje celog bloka */
}


.category-chip {
  position: relative;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background: #1a1a1a;
  z-index: 1;
  overflow: hidden;
}

/* Rotirajući border */
.category-chip::before {
  content: "";
  position: absolute;
  inset: -63px; /* malo veće od elementa */
  border-radius: 22px;
  background: conic-gradient(
    #a200ff,
    #ff00ea,
    #7b00ff,
    #a200ff
  );
  z-index: -1;
  animation: spin 2s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

/* Unutrašnji tamni sloj */
.category-chip::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #1a1a1a;
  border-radius: 18px;
  z-index: -1;
  
}

/* Aktivacija na hover */
.category-chip:hover::before {
  opacity: 1;
  
}

/* Samo border se rotira */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



