/* ===== HERO WRAPPER ===== */
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  gap: 20px;
  margin: 40px auto;
  
  
  
}

/* ===== HERO CARD ===== */
.hero-card {
  display: flex;
  background: rgb(21, 29, 40);
  border-radius: 16px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  height: 260px;
}

/* LEFT = 40%, RIGHT = 60% */
.hero-card:first-child {
  flex: 0 0 40%;
}

.hero-card:last-child {
  flex: 0 0 50%;
  
}

/* IMAGE */
.hero-image {
  width: 40%;
  height: 350px;
  position: relative; /* važno zbog pseudo-elementa */
  background-size: contain;
  background-position: center;
  mask-image: linear-gradient(to left, transparent, black 50%);
}

/* GRADIENT OVERLAY */
.hero-image::after {
  content: "";
  position: absolute;
  inset: 0; /* isto kao top:0; left:0; right:0; bottom:0 */
  background: linear-gradient(
    to top,
    rgba(252, 0, 0, 0.2),
    rgba(250, 4, 4, 0.7)
  );
  pointer-events: none; /* da overlay ne blokira klikove */
}

/* CONTENT */
.hero-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  background: transparent;
}

.hero-content h2 {
  font-size: 18px;
  margin: 0;
    font-family: "Fondamento", cursive;
}

.hero-author {
  opacity: 0.8;
  font-size: 14px;
}

.hero-description {
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.3;
}

/* BUTTON */
.hero-button {
  margin-top: 10px;
  padding: 8px 14px;
  background: rgb(84, 32, 101);
  color: rgb(250, 250, 250);
  border-radius: 8px;
  text-decoration: none;
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
}

.hero-button:hover {
  background: rgba(84, 32, 101, 0.593);
  
}

/* ===== TABLET BREAKPOINT (769–1024px) ===== */
@media (max-width: 1024px) and (min-width: 769px) {
  .hero-card {
    height: 260px;
    
  }

  .hero-card:first-child {
    flex: 0 0 40%;
  }

  .hero-card:last-child {
    flex: 0 0 50%;
  }

  .hero-image {
    width: 45%;
  }

  .hero-content h2 {
    font-size: 16px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: row;
  }

  .hero-card {
    flex: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    background: rgb(21, 29, 40);
  }

 .hero-image {
  height: 260px;
  width: 100%;
  
  
  position: relative; /* važno zbog pseudo-elementa */
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to top, transparent, black 80%);
}

/* GRADIENT OVERLAY */
.hero-image::after {
  content: "";
  position: absolute;
  inset: 0; /* isto kao top:0; left:0; right:0; bottom:0 */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  pointer-events: none; /* da overlay ne blokira klikove */
}

}


@media (max-width: 569px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-card {
    flex: none;
    width: 80%;
    margin: auto;
    height: auto;
    flex-direction: column;
    background: rgb(21, 29, 40);
  }

 .hero-image {
  
  width: 100%;
  object-fit: cover;
  
  position: relative; /* važno zbog pseudo-elementa */
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to top, transparent, black 80%);
}

/* GRADIENT OVERLAY */
.hero-image::after {
  content: "";
  position: absolute;
  inset: 0; /* isto kao top:0; left:0; right:0; bottom:0 */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  pointer-events: none; /* da overlay ne blokira klikove */
}

}

@media (max-width: 376px) {
  .hero-card {
    width: 90%;
  }

  .hero-image {
   object-fit: cover ;
  }
}
