@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #233143;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #979797;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 49, 67);
  overflow-x: hidden;
}



h1 {
  font-size: 1.6em;
  line-height: 1.1;
   font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #b6b6b6;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.favorites-page {
  padding: 20px;
}

.favorites-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #d1d1d1;
  }

  button {
    background-color: #f9f9f9;
  }
}

.detailsOpen {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
   gap: 40px;
   margin-top: 40px;
  
  height: calc(100vh-88px);
}

.detailsOpenText {
  flex: 1;
  max-width: 700px;
  
}

.detailsOpenImage {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 800px;
}
  
  

.detailsOpen h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: "Bellefair", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  color: rgb(157, 157, 157);
}

@media screen and (max-width: 869px) {
  .detailsOpen {
    flex-direction: column;
    gap: 20px;
    height: auto;
    align-items: center;
    margin-top: 0px;
  }

  .detailsOpenText,
  .detailsOpenImage {
    max-width: 100%;
  }

  .detailsOpen h1 {
    font-size: 2.5rem;
  }
  
}